<ul class="events">
  {% for event in events %}
  <li class="event">
    {{event.hour}}:{{event.minute}} o'clock:
    {% if event.switchOn %}
      switch on
    {% else %}
      switch off
    {% endif %}
    <button title="Delete event" class="danger float-right"
            onclick="deleteEvent(event, {{event.id}}, '{{event.hour}}:{{event.minute}} -> {{event.switchOn}}', {{nodeId}})">🗑️
    </button>
  </li>
  {% endfor %}
</ul>

<button id="btn-add-event" class="button half-width float-left"
        onclick="showPopupForm('event', false, false, '/{{nodeId}}')">➕ Add event
</button>
<button class="btn-close danger button half-width float-left" type="button"
        onclick="hidePopupForm()">Close
</button>
<br style="clear:both"/>
