<ul class="nodes">
  {% for node in nodes %}
  <li class="node">
    <label class="switch" style="float: left">
      <input type="checkbox" {{ 'checked' if node.state else '' }}
             id="switch-{{ node.id }}"
             onclick="checkSwitch(this, event)" node-id="{{ node.id }}" />
      <span class="slider round"></span>
    </label>
    <label for="switch-{{ node.id }}" class="label-for-switch">{{ node.title }}</label>
    <span class="tool" onclick="onToolClicked(this, event)">⚙️</span>
    <div class="hidden-tools">
      <button title="Delete node" onclick="deleteNode(event, {{ node.id }}, '{{ node.title }}')" class="transparent">🗑️</button>
      <button title="Edit node" onclick="showPopupForm('node', event, {{ node.id }})" class="transparent">🖊️</button>
      <button title="Edit events" onclick="showEventList({{ node.id }})" class="transparent">📅</button>
    <div>
  </li>
  {% endfor %}
</ul>

{% if nodes %}
<button class="button float-left" style="width:49%"
        onclick="switchStateForAll('on')">🌞 All on</button>
<button class="button danger float-left" style="width:49%"
        onclick="switchStateForAll('off')">🌑 All off</button>
<br style="clear: both"/>
{% endif %}
