@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(/static/fonts/AmaticSC-Regular.ttf) format('truetype');
  /* only load unicode-range for hebrew */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  margin: 0;
}

div.container-nodes {
  padding: 20px;
}

ul.nodes {
  list-style: none;
  padding-left: 0;
}

ul.nodes li.node {
  margin-bottom: 15px;
}

ul.nodes li.node.disabled {
  opacity: 0.4;
  cursor: default;
}

div.head {
  background-color: #B4D7A2;
  padding: 5px;
}

div.logo {
  width: 275px;
  margin-left: auto;
  margin-right: auto;
}

div.logo img {
  width: 100px;
  margin-right: 10px;
}

div.logo span {
  top: 13px;
  font-size: 2rem;
  position: absolute;
  font-style: italic;
  font-family: 'Amatic SC', cursive;
}

div.card {
  width: 640px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.card img {
  max-width: 100%;
}
